 Data Structures

List>> indexed DS : ordered DS : Mutable : heterogenous(mixed values can be kept): have duplicates : just values:  []:  list()
tuple>>indexed DS : ordered DS : immutable: heterogenous(mixed values can be kept): have duplicate: just values: (): tuple()
set>> unindexed DS : Unordered DS: mutable: heterogenous(mixed values can be kept): Only unique values :just values: {}: set()
dictionary>> unindexed DS : Ordered DS : mutable: heterogenous(mixed values can be kept): have duplicate: works in Key- value pairs: {}: dict()

#List
- creating
- indexing n slicing (same as string)
- comprehension

In [4]:
a=[] #empty list
b=[1,2,3,4] #numeric list
c=[1,'apple',2,'mango'] #mixed list
d=[[1,2,3],[4,5,6]] #list of list
e=[[1,"apple"],[2,"banana"]] #mixed nested list
f=['kush','lucknow'] #string list
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
[1, 'apple', 2, 'mango']
[[1, 2, 3], [4, 5, 6]]
[[1, 'apple'], [2, 'banana']]
['kush', 'lucknow']

In [3]:
for i in e: #data traversal
    print(i)

[1, 'apple']
[2, 'banana']

In [1]:
g=list('hello')
h=list(range(10))
i=[0.5]*10  #duplicated list
print(g)
print(h)
print(i)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5]

In [3]:
movies=['Aparichit','koi mil gya','om shanti om','PK','I']
print(movies[0:len(movies)-1])
print(movies[-1]) #last item
print(movies[::-1])

['Aparichit', 'koi mil gya', 'om shanti om', 'PK']
I
['I', 'PK', 'om shanti om', 'koi mil gya', 'Aparichit']

In [23]:
number=[1,2,3,4,5,6,7,8,9,10]
print(number[0:5])
print(number[:-3])
print(number[4:-4]) 
print(number[::-1])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
[5, 6]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

- #list method (11)
⬇️⬇️⬇️⬇️⬇️⬇️⬇️⬇️⬇️

- adding/updating
  -'append()'
  -'extend()'
  - 'insert()

- removal/deletion
  - 'remove()'
  - 'pop()'
  - 'clear()'

- utility
 - sort()
 - reverse()
 - index()
 - count()
 - copy()

In [2]:
fav_book=[]
hated_book=[]
for i in range(5):
    book=input("Input your fav book:")
    fav_book.append(book)
for i in range(3):
    book=input("Input your hated book:")
    hated_book.append(book)

print("fav book: ",fav_book)
print("hated book: ",hated_book)

fav book:  ['', 'harry potter and the goblet of fire', 'Spiderman :Home coming', 'Jumanji', 'geography ny Savinder singh']
hated book:  ['Polity by M.Laxmikant', 'Jacobian', 'Chronicles of Narnia']

In [27]:
hated_book.append("ikagai")
print(hated_book)

['Hell in the Cell', 'Jacobian', 'Narnia Chronicles', 'ikagai']

In [5]:
#merging of lists and create a new list
books=fav_book+hated_book
print(books)

['', 'harry potter and the goblet of fire', 'Spiderman :Home coming', 'Jumanji', 'geography ny Savinder singh', 'Polity by M.Laxmikant', 'Jacobian', 'Chronicles of Narnia']

In [6]:
#adding a list to the existing list
books.extend(['hatim','Ali baba 40 chor','Aladdin'])
print(books)
print("The count of Books :",len(books))

['', 'harry potter and the goblet of fire', 'Spiderman :Home coming', 'Jumanji', 'geography ny Savinder singh', 'Polity by M.Laxmikant', 'Jacobian', 'Chronicles of Narnia', 'hatim', 'Ali baba 40 chor', 'Aladdin']
The count of Books : 11

In [8]:
# books.append(["marino","jacobian"]) #nested type
# print(books)
books.append("Jalaikattu")
print(books)

['', 'harry potter and the goblet of fire', 'Spiderman :Home coming', 'Jumanji', 'geography ny Savinder singh', 'Polity by M.Laxmikant', 'Jacobian', 'Chronicles of Narnia', 'hatim', 'Ali baba 40 chor', 'Aladdin', 'Jalaikattu', 'Jalaikattu']

In [10]:
books.insert(0,"Aghori")
print(books)

['Aghori', '', 'harry potter and the goblet of fire', 'Spiderman :Home coming', 'Jumanji', 'geography ny Savinder singh', 'Polity by M.Laxmikant', 'Jacobian', 'Alchemist', 'Chronicles of Narnia', 'hatim', 'Ali baba 40 chor', 'Aladdin', 'Jalaikattu', 'Jalaikattu']

In [11]:
books

['Aghori',
 '',
 'harry potter and the goblet of fire',
 'Spiderman :Home coming',
 'Jumanji',
 'geography ny Savinder singh',
 'Polity by M.Laxmikant',
 'Jacobian',
 'Alchemist',
 'Chronicles of Narnia',
 'hatim',
 'Ali baba 40 chor',
 'Aladdin',
 'Jalaikattu',
 'Jalaikattu']

In [14]:
#replace
books[1]="Game of Thrones"
books[-1]="Pushpa Raj"
print(books)

['Aghori', 'Game of Thrones', 'harry potter and the goblet of fire', 'Spiderman :Home coming', 'Jumanji', 'geography ny Savinder singh', 'Polity by M.Laxmikant', 'Jacobian', 'Alchemist', 'Chronicles of Narnia', 'hatim', 'Ali baba 40 chor', 'Aladdin', 'Jalaikattu', 'Pushpa Raj']

In [15]:
# remove(): value Based removal
# pop(): index based removal
books.remove("Jacobian")
books

['Aghori',
 'Game of Thrones',
 'harry potter and the goblet of fire',
 'Spiderman :Home coming',
 'Jumanji',
 'geography ny Savinder singh',
 'Polity by M.Laxmikant',
 'Alchemist',
 'Chronicles of Narnia',
 'hatim',
 'Ali baba 40 chor',
 'Aladdin',
 'Jalaikattu',
 'Pushpa Raj']

In [17]:
books.pop(5)

'geography ny Savinder singh'

In [18]:
books.pop() #directly removes the last element

'Jalaikattu'

In [45]:
hated_book.clear() #remove all the elements
print(hated_book)

[]

# WAP  to create an emptylist , then fill the list with 10 prime numbers using a loop starting with 2

In [8]:
num=int(input("enter the value"))
lst=[]
for i in range(2,num):
   lst.append(i)
print(lst)
for j in lst:
   if j%2==0:
      continue
   print(j)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
3
5
7
9
11
13

In [9]:
numbers=[12,85,78,69,14,77,32,98]
numbers.reverse() #changes the orignal list

In [10]:
print(numbers)

[98, 32, 77, 14, 69, 78, 85, 12]

In [11]:
numbers=[12,85,78,69,14,77,32,98]
a=numbers[::-1]
print(a)

[98, 32, 77, 14, 69, 78, 85, 12]

In [13]:
numbers.sort() #ascending, changes the order list
print(numbers)
numbers.sort(reverse=True) #descending
print(numbers)

[12, 14, 32, 69, 77, 78, 85, 98]
[98, 85, 78, 77, 69, 32, 14, 12]

In [5]:
x=[[1,12],[2,5],[5,10],[4,15]]
x.sort() #sort by the first element
print(x)

[[1, 12], [2, 5], [4, 15], [5, 10]]

In [15]:
x.sort(key=lambda e: e[1]) #sort by the second element
print(x)

[[2, 5], [5, 10], [1, 12], [4, 15]]

In [6]:
x.sort(key=lambda i: sum(i))
print(x)

[[2, 5], [1, 12], [5, 10], [4, 15]]

In [17]:
users=[('Alice',25),('Bob',19),('Alex',26)]
x.sort()
print(users)

[('Alice', 25), ('Bob', 19), ('Alex', 26)]

In [1]:
cart=[['mobile',25000,2],
      ['laptop',60000,1],
      ['watch',3000,3],
      ['headphone',1500,2]]
cart.sort(key=lambda e:e[1])


print(cart)

[['headphone', 1500, 2], ['watch', 3000, 3], ['mobile', 25000, 2], ['laptop', 60000, 1]]

In [22]:
cart.sort(key=lambda e:e[1]*e[2]) #stored in memory 
print(cart)

[['headphone', 1500, 2], ['watch', 3000, 3], ['mobile', 25000, 2], ['laptop', 60000, 1]]

In [24]:
#count function
a=[1,8,8,9,1,5,8,9]
d=a.count(1)
print(d)

2

In [25]:
numbers.index(12) #give the index of 12 (first occurance)

7

In [31]:
a=[1,2,3,4,5]
b=a.copy() #shallow copy
c=a  #reference copy
print(a)
print(b)
print(c)
a.append(10)
b.append(6)
c.append(9)
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 10, 9]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 10, 9]

In [40]:
#Comprehension
x=[1,3,2,7]
x2=[]
for i in x:
#     s=i**2
#     x2.append(s)
# print(x2)

 x2=list(map(lambda i:i**2,x)) #lambda and map
print(x2)

x2=[i**2 for i in x]  #comprehension method specific to list
print(x2)

[1, 9, 4, 49]
[1, 9, 4, 49]

new list=[operation  loop  conditions(optional) ] >> comprehension

In [45]:
b=[1,4,6,7,8,]
b5=[i-5 for i in b ]
print(b5)
aeven=[i**2 for i in b if i%2==0]
print(aeven)

[-4, -1, 1, 2, 3]
[16, 36, 64]

In [51]:
init=[]
names=['alice smith','bob brown','charlie green','david white']
for n in names:
    part=n.split()
    init.append(f"{n.split()[0][0]}{n.split()[1][0]}")
print(init)

#comprehension
init=[f"{i.split()[0][0]}{n.split()[1][0]}" for i in names]
print(init)

['as', 'bb', 'cg', 'dw']
['aw', 'bw', 'cw', 'dw']

#Tuple: Data cant be manipulated / in a packing form
- create
- indexing and slicing
- methods
- packing and unpacking

In [3]:
x=()
y=(1,)    # >> #single element tuple
z=(1,2,3,4,5)
a=((1,2),(4,5),(9,8))
b=(('a',2),('b',5),('c',8))
c=tuple('secularism is the element of democracy')
d=tuple(range(10))
print(a)
print(b)
print(c)
print(d)
print(x)
print(y)
print(z)

((1, 2), (4, 5), (9, 8))
(('a', 2), ('b', 5), ('c', 8))
('s', 'e', 'c', 'u', 'l', 'a', 'r', 'i', 's', 'm', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'e', 'l', 'e', 'm', 'e', 'n', 't', ' ', 'o', 'f', ' ', 'd', 'e', 'm', 'o', 'c', 'r', 'a', 'c', 'y')
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
()
(1,)
(1, 2, 3, 4, 5)

In [9]:
print(d)
print(d[6::-1])
print(d[4:])

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(6, 5, 4, 3, 2, 1, 0)
(4, 5, 6, 7, 8, 9)

# index(search) and count methods  (the only method used in tuple) <python treat everything as tuple>

In [8]:
fruits=["apple","banana","litchi","banana","mango"]
print(fruits.index('apple'))
print(fruits.count('apple'))
print(fruits.index('banana',1))

0
1
1

In [10]:
x=1,2,3
print(x)

(1, 2, 3)

In [12]:
def stats(*data):
    total=sum(data)
    avg=total/len(data)
    return total,round(avg,2)

In [13]:
a=stats(14,56,32,78,99,41,52,55)
print(a)

(427, 53.38)

In [14]:
a,b=12,45 #k/a tuple unpacking
print(a,b)

12 45

In [15]:
a,b,c=14,55 #error
print(a,b,c)
# total,min,max=stats(14,55,78,6,99,555)>> error bcoz stats have two values(int,float)

ValueError: not enough values to unpack (expected 3, got 2)

In [22]:
a,b,*c=(1,2,3,4,5,6,7)#only one unpacked operation is allowed
print(c)
print(a)
print(b)

[3, 4, 5, 6, 7]
1
2

# Set:
- creating
- methods (mutable sets)
- set operation:
  - union
  - intersetion
  - differences
  - symmetric diff.
  - issubset
  - issuperset

In [23]:
x={} #dictionary
y=set() #empty set
z={1,2,3,5,4,8}
d={1,2,3,5,4,8,6,5,9,9,9,9} #set removes duplicate
print(d)

{1, 2, 3, 4, 5, 6, 8, 9}

In [26]:
a=set('hello')
print(a)
print(list(a))

{'l', 'h', 'o', 'e'}
['l', 'h', 'o', 'e']

In [28]:
b=set([21,4,54,65,78,55,21,22,12])
print(b)
c=set(range(10))
for i in c:
    print(i,end=" ")

{65, 4, 12, 78, 21, 54, 55, 22}
0 1 2 3 4 5 6 7 8 9

In [29]:
data=set()
data.add(12)
data.add(1)
data.add(15)
data.add(12)
print(data)

{1, 12, 15}

In [30]:
data.update([54,545,78,555,11,12]) #multiple addition
print(data)

{1, 545, 555, 12, 11, 78, 15, 54}

In [36]:
data.discard(78)
print(data)
data.pop() #remove random element
print(data)
data.clear()
print(data)

set()

KeyError: 'pop from an empty set'

In [44]:
#operation
a={1,2,3,4,5}
b={4,5,6,7,8}
c={11,12,13}
print(a.union(b))
print(a|b) # |>union
print(a.intersection(b))
print(a & b) # &> intersection
print(a.difference(b))
print(b.difference(a))
print(a-b) #give the unique element of the first element(a)
print(b-a)#give the unique element of the first element(b)
print(a.symmetric_difference(b)) #removing the common
print(a^b) # ^:symmetric diff

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [49]:
d={1,2,3}
print(a.issuperset(b))
print(a.issuperset(c))
print(a.issuperset(d))
print(d.issubset(a))
print(d.issubset(b))
print(d.issubset(c))
print(a.isdisjoint(b))
print(a.isdisjoint(c))
print(a.isdisjoint(d))

False
False
True
True
False
False
False
True
False

In [52]:
#conversion
a=[1,4,5,6,4,3,5]
a_set=set(a)
a_tup=tuple(a)
print(a_set)
print(a_tup)

{1, 3, 4, 5, 6}
(1, 4, 5, 6, 4, 3, 5)

In [56]:
z=[1,2,3,3,3,4,5,5,5,3,3,3]
print(z)
z=list(set(z)) #set--> remove duplicate --> list -->x
print(z)

[1, 2, 3, 3, 3, 4, 5, 5, 5, 3, 3, 3]
[1, 2, 3, 4, 5]

# Dictionary
- creation
- traversal
- method
-sorting
- comprehension

In [ ]:
syntax:

{
    key:value,  #3 elements present, key should be unique(duplicate keys: it will show the latest entry)
     key:value,   #key: Numbers,Strings,tuples
    key:value,
}

In [8]:
fruits={
    'apple':'red',
    'banana':'yellow',
    'cherry':'red',
    'orange':'orange'
}
print(fruits)

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red', 'orange': 'orange'}

In [2]:
temp={
    'lucknow':[23,56,77],
    'Delhi':[23,56,77],
    'Gurgaon':[23,56,77]
}
print(temp)

{'lucknow': [23, 56, 77], 'Delhi': [23, 56, 77], 'Gurgaon': [23, 56, 77]}

In [3]:
nums={
    1:'dumb',
    10:'bumb',
    100:'dumb',
}
print(nums)

{1: 'dumb', 10: 'bumb', 100: 'dumb'}

In [4]:
info=dict(name='raju',age=25,marks=[54,77,43])
print(info)

{'name': 'raju', 'age': 25, 'marks': [54, 77, 43]}

In [6]:
#nested dictionary
report={
    'Alex':{
        'English':{
            'sem1':45,
            'sem2':55,
        },
        'Maths':78,
        'Biology':85,
    },

    'Rahul':{
        'English':56,
        'Maths':88,
        'Biology':67,
    },
}
print(report)

{'Alex': {'English': {'sem1': 45, 'sem2': 55}, 'Maths': 78, 'Biology': 85}, 'Rahul': {'English': 56, 'Maths': 88, 'Biology': 67}}

In [7]:
from pprint import pp #pprint> library
print(report)

{'Alex': {'English': {'sem1': 45, 'sem2': 55}, 'Maths': 78, 'Biology': 85}, 'Rahul': {'English': 56, 'Maths': 88, 'Biology': 67}}

In [10]:
#retrieval of value from the key
fruits['apple']

'red'

In [11]:
report['Rahul']

{'English': 56, 'Maths': 88, 'Biology': 67}

In [12]:
report['Alex']['English']

{'sem1': 45, 'sem2': 55}

In [41]:
print(temp['lucknow'][0])
print(temp['lucknow'][-1])
print('avg temp of lko',sum(temp['lucknow'])/len(temp['lucknow']))

23
77
avg temp of lko 52.0

In [15]:
print(fruits.keys())

dict_keys(['apple', 'banana', 'cherry', 'orange'])

In [17]:
fruit_name=list(fruits.keys())
print(fruit_name)

['apple', 'banana', 'cherry', 'orange']

In [18]:
print(fruits.values())

dict_values(['red', 'yellow', 'red', 'orange'])

In [19]:
#traversal through keys
for items in fruits:
    print(items)

apple
banana
cherry
orange

In [20]:
#finding values
for x in fruits:
    print(x,fruits[x])

apple red
banana yellow
cherry red
orange orange

In [21]:
#transverse using .items()method
for k,v in fruits.items():
    print(k,v)

apple red
banana yellow
cherry red
orange orange

In [22]:
#only values
for v in fruits.values():
    print(v)

red
yellow
red
orange

In [24]:
#total marks in report
for student, marks in report.items():
    print(student)
for subject, marks in marks.items():
    print(subject,marks)
print(sum(marks.values()))

Alex
Rahul
English 56
Maths 88
Biology 67

AttributeError: 'int' object has no attribute 'values'

In [26]:
fruits['mango']='yellow' #add
fruits['apple']='green' #update
print(fruits)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red', 'orange': 'orange', 'mango': 'yellow'}

In [28]:
#adding small dict to big dict
dry_fruits={'dates':'Brown','Almond':'Brown'}
fruits.update(dry_fruits)
pp(fruits)

{'apple': 'green',
 'banana': 'yellow',
 'cherry': 'red',
 'orange': 'orange',
 'mango': 'yellow',
 'dates': 'Brown',
 'Almond': 'Brown'}

In [31]:
#get method: error free way to access dict values
# print(fruits['Raisin'])
print(fruits.get('Raisin')) #default
print(fruits.get('Raisin'),'No value find')

None
None No value find

In [32]:
#rremove
fruits.pop('banana') #remove by key>>returns value

'yellow'

In [33]:
pp(fruits)

{'apple': 'green',
 'cherry': 'red',
 'orange': 'orange',
 'mango': 'yellow',
 'dates': 'Brown',
 'Almond': 'Brown'}

In [34]:
#sort by keys
sorted(fruits.items())

[('Almond', 'Brown'),
 ('apple', 'green'),
 ('cherry', 'red'),
 ('dates', 'Brown'),
 ('mango', 'yellow'),
 ('orange', 'orange')]

In [35]:
#sorted by values
sorted(fruits.items(),key=lambda e:e[1])

[('dates', 'Brown'),
 ('Almond', 'Brown'),
 ('apple', 'green'),
 ('orange', 'orange'),
 ('cherry', 'red'),
 ('mango', 'yellow')]

In [36]:
#display in disctionary
dict(sorted(fruits.items(),key=lambda e:e[1]))

{'dates': 'Brown',
 'Almond': 'Brown',
 'apple': 'green',
 'orange': 'orange',
 'cherry': 'red',
 'mango': 'yellow'}

In [37]:
clean_fruits={}
for k,v in fruits.items():
    clean_fruits[k.lower()]=v.upper()
pp(clean_fruits)

{'apple': 'GREEN',
 'cherry': 'RED',
 'orange': 'ORANGE',
 'mango': 'YELLOW',
 'dates': 'BROWN',
 'almond': 'BROWN'}

In [38]:
#comprehension
clean_fruits={k.lower():v.upper() for k,v in fruits.items()}
pp(clean_fruits)

{'apple': 'GREEN',
 'cherry': 'RED',
 'orange': 'ORANGE',
 'mango': 'YELLOW',
 'dates': 'BROWN',
 'almond': 'BROWN'}

In [39]:
avg_temp={city:sum(data)/len(data) for city,data in temp.items()}
print(avg_temp)

{'lucknow': 52.0, 'Delhi': 52.0, 'Gurgaon': 52.0}